:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --dark-grayish: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

html,
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  height: 100%;
}

.container {
  background-color: var(--dark-cyan);
  height: 100%;
  position: relative;
  overflow: hidden; /* esconde o que está fora e precisa de um position */
}

.bg-ballon-top {
  position: absolute;
  top: -50%;
  right: 50%;
  z-index: 9;
}

.bg-ballon-bottom {
  position: absolute;
  bottom: -50%;
  left: 50%;
  z-index: 9;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  z-index: 10;
  width: 325px;
  height: 375px;
  background-color: #fff;
  border-radius: 15px;
  background-image: url("images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-profile {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
}
